/* ======= GOOGLE FONTS ======= */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

/* ======= VARIABLES ======= */

:root {
    --header-height: 3rem;
    --font-semi: 600;
    --font-bold: 700;
}

/* ======= COLOURS ======= */
:root{
    --first-colour: #E55947;
    --first-colour-alt: #D2321E;
    --white-colour: #FAFAFF;
    --dark-colour: #101010;
    -dark-colur-light: #606060;
    --grey-colour: #F0F1F3;

}

/* ======= TYPOGRAPHY ======= */
:root {
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 6rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .813rem;
    }
}

/* ======= MARGINS ======= */
:root {
    --mb-1: .5rem;
    --mb2-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

/* ======= Z index ======= */
:root {
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ======= BASE CSS ======= */
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    color: var(--dark-colour);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    line-height: 1.6;
}

h1,h2,p {
    margin: 0;
}

ul {
    margin: 0;
}
/* ======= CLASS CSS ======= */